<!--<div ng-controller="MyCarouselController">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>-->

<section ng-controller="HomeController" ng-init="find()">

  <ng-map defaul-style="false" center="[45.06, 7.67]">   
    <marker ng-repeat="article in articles" id="article._id" position="{{article.position.latitude}},{{article.position.longitude}}" title="{{article.title}}" on-click="open(article)" icon="{{getIcon(e,article.classEvent)}}">
    </marker>
  </ng-map>

    <!--VERSIONE due!!!
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
             <div class="row">
                 <div class="col-md-11">
                     <div class="media">
                       <div class="media-left">
                           <img class="media-object photo-profile" ng-src="{{ item.user.profileImageURL }}" width="40" height="40">
                       </div>
                       <div class="media-body">
                         <h4 class="media-heading anchor-username">{{ item.user.displayName }}</h4>
                         <span ng-bind="item.created | date:'medium'"></span> 
                       </div>
                     </div>
                 </div>
                  <div class="col-md-1">
                      <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                      <a href="#" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
                  </div>
             </div>             
      </div>

      <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
               <section class="post-body">
               <img src="https://www.swiss-made.sr/img/aura/600x300.gif" class="img-responsive">
                <p ng-bind="item.content"></p>
               </section>
               <section class="post-footer">
                   <hr>
                   <div class="post-footer-option container">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i> Vota</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Commenta</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Condividi</a></li>
                        </ul>
                   </div>
                   <div class="post-footer-comment-wrapper">
                       <div class="comment-form">
                         <div class="comment" ng-repeat="comment in item.comments">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object photo-profile" src="{{  }}" width="32" height="32" >
                                  </a>
                                </div>
                                <div class="media-body">
                                  <a href="#" class="anchor-username"><h5 class="media-heading">{{ comment.postedBy }}</h5></a>
                                  <span>50 min</span> 
                                  <p ng-bind="comment.content"></p>
                                </div>
                              </div>
                         </div>
                       </div>
                   </div>
               </section>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Qualcosa</button>
        <button class="btn" ng-click="insertComments()">Tasti random</button>
      </div>

    </script>-->


    <!--VERSIONE tre!!!-->
    <script type="text/ng-template" id="myModalContent.html">
      <div class="panel panel-default">
        <div class="panel-heading">
               <div class="row">
                   <div class="col-sm-12">
                       <div class="media">
                         <div class="media-left">
                             <img class="media-object photo-profile" ng-src="{{ item.user.profileImageURL }}" width="40" height="40">
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading anchor-username">{{ item.user.displayName }}</h4>
                           <span ng-bind="item.created | date:'medium'"></span> 
                         </div>
                         <div class="media-right">
                           <a href="#" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
                         </div>
                       </div>
                   </div>
               </div>             
        </div>

        <div class="panel-body">
           <section class="post-body">
           <img src="http://www.universidadholistica.com.mx/img/slider/img3.jpg" class="img-responsive">
            <p ng-bind="item.content"></p>
           </section>
           <section class="post-footer">
               <hr>
               <div class="post-footer-option container">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i> Vota</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Commenta</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Condividi</a></li>
                    </ul>
               </div>
               <div class="post-footer-comment-wrapper">
                   <div class="comment-form">
                     <div class="comment" ng-repeat="comment in item.comments">
                          <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object photo-profile" src="{{  }}" width="32" height="32" >
                              </a>
                            </div>
                            <div class="media-body">
                              <a href="#" class="anchor-username"><h5 class="media-heading">{{ comment.postedBy }}</h5></a>
                              <span>50 min</span> 
                              <p ng-bind="comment.content"></p>
                            </div>
                          </div>
                     </div>
                   </div>
               </div>
           </section>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Qualcosa</button>
        <button class="btn" ng-click="insertComments()">Tasti random</button>
      </div>

    </script>

<div class="container">
  <div class="row">
    <section class="" style="padding-top: 20px">
      <div ng-repeat="article in articles" class="col-sm-4">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
               <div class="media-left">
                   <img class="media-object photo-profile" ng-src="{{ article.user.profileImageURL }}" width="40" height="40">
               </div>
               <div class="media-body">
                 <h4 class="media-heading anchor-username" ng-bind="article.user.displayName"></h4>
                 <span ng-bind="article.created | date:'medium'"></span> 
               </div>
            </div>
          </div>

          <div class="panel-body">
           <section class="post-body">
            <img src="http://www.universidadholistica.com.mx/img/slider/img3.jpg" class="img-responsive">
            <p class="text-justify">{{ article.content | limitTo: 278 }} ...  <a href="#" class="">leggi di più</a> </p>
            
           </section>

           <section class="post-footer">
               <hr>
               <div class="post-footer-option container">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i> Vota</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Commenta</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Condividi</a></li>
                    </ul>
               </div>
               <div class="post-footer-comment-wrapper">
                   <div class="comment-form">
                     <div class="comment" ng-repeat="comment in item.comments">
                          <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object photo-profile" src="{{  }}" width="32" height="32" >
                              </a>
                            </div>
                            <div class="media-body">
                              <a href="#" class="anchor-username"><h5 class="media-heading">{{ comment.postedBy }}</h5></a>
                              <span>50 min</span> 
                              <p ng-bind="comment.content"></p>
                            </div>
                          </div>
                     </div>
                   </div>
               </div>
           </section>

          </div>
        </div>

      </div>
    </section>
  </div>
</div>


  
</section>