<div ng-controller="map-controller">
  <ng-map center="[-26.6875847,135.0857733]" zoom="4">
    <div ng-repeat="p in points">
      <marker icon="{{customIcon}}"  position="{{p.latitude}}, {{p.longitude}}" ></marker>
    </div>
  </ng-map>
</div>

<div ng-controller="MyCarouselController">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<section ng-controller="HomeController" ng-init="find()" class="row posts">
    <div ng-repeat="article in articles" class="col-md-6 col-md-offset-3 post">

      <header>
      <div class="row">
        <div class="col-md-1 margin-user-top">
          <img ng-src="{{authentication.user.profileImageURL}}" class="header-profile-image"/>
        </div>
        <div class="col-md-11 margin-user-top">
          <span ng-bind="authentication.user.displayName"></span>
          <a ui-sref="articles.view({articleId: article._id})"><p class="subtitle" ng-bind="article.title"></p></a>
        </div>
      </div>
      </header>

      <article >
        <img class="img-responsive" src="http://calvarytemplecog.com/App_Themes/Default/img/group_blank.jpg">
        <p ng-bind="article.content"></p>
        <div class="info">
          <small class="list-group-item-text">
          Posted on
          <span ng-bind="article.created | date:'mediumDate'"></span>
          by
          <span ng-bind="article.user.displayName"></span>
          </small>
        </div>
        <div class="interaction">
          <a href="#">Vota</a> | 
          <a ng-show="authentication.user._id == article.user._id" ui-sref="articles.edit({articleId: article._id})">Modifica</a>
        </div>
      </article>
    </div>
</section>